In [15]:
import json
import pandas as pd

In [16]:
import requests
from dotenv import load_dotenv
import os

load_dotenv(dotenv_path="api.env")

api_key = os.getenv("API_KEY_LASTFM")

In [ ]:
import csv
with open('list_artist_classical.csv', "r") as archivo:
    lector = csv.reader(archivo)
    lista = list(lector)

In [17]:
import csv
limit = 200
contador = 0
resultados_nombres = []


def similar_artistas(artist, api_key):
    url = 'http://ws.audioscrobbler.com/2.0/'
    params = {
        'method': 'artist.getinfo',
        'artist': artist,
        'api_key': api_key,
        'format': 'json'
    }
    try:
        r = requests.get(url, params=params)
        data = r.json()
    
        similares = data.get('artist', {}).get('similar', {}).get('artist', [])
         # Tomar como máximo 3 similares
        similares = similares[:3]
        return [{'id_genero': '4', 'artista': artist, 'similar': s['name']} for s in similares]
    except:
        return []

# Leer artistas desde CSV
with open('list_artist_rock.csv', 'r', encoding='utf-8') as archivo:
    lector = csv.reader(archivo)
    next(lector)  # Saltar encabezado si lo tiene
    for fila in lector:
        if contador >= limit:
            break
        artista = fila[0].strip()
        similares = similar_artistas(artista, api_key)
        resultados_nombres.extend(similares)
        contador += 1

--------------------------

In [18]:
df = pd.DataFrame(resultados_nombres)
df.to_csv('similar_rock.csv', index=False)
df

    id_genero           artista               similar
0           4       Joan Colomo  El Petit De Cal Eril
1           4       Joan Colomo               La Iaia
2           4       Joan Colomo               Mishima
3           4  Familia Caamagno           Terbutalina
4           4  Familia Caamagno         Oh! Ayatollah
..        ...               ...                   ...
568         4            Kokein                Urgabe
569         4            Kokein               Seiurte
570         4    Eneritz Furyak      Joseba B. Lenoir
571         4    Eneritz Furyak       Willis Drummond
572         4    Eneritz Furyak               M I C E

[573 rows x 3 columns]

In [4]:
def similar_artistas(artist, api_key):
    url = 'http://ws.audioscrobbler.com/2.0/'
    params = {
        'method': 'artist.getinfo',
        'artist' : artist,
        'api_key': api_key,
        'format': 'json'
        }
    nombres = []
    response = requests.get(url, params=params)
    if response.status_code != 200:
        print(f"Da error")
    else:
        datos = response.json()
        artistas_similares = datos.get('artist').get('similar')
        for artist in artistas_similares.get('artist'):
                nombres.append(artist['name'])
    return nombres

In [2]:
# Função para limpar o nome do artista
def limpar_nome(artist):
    # Si es lista, tomar el primer elemento
    if isinstance(artist, list) and len(artist) > 0:
        artist = artist[0]
    # Convertir a string (por si no lo es) y limpiar espacios y caracteres
    artist = str(artist).strip("[]'\" ")
    return artist

In [ ]:
#CHECK BELOW---
resultados_nombres = []
limit = 200
contador = 0
for i in lista:
    if contador >= limit:
        break
    similares = similar_artistas(i, api_key)
    resultados_nombres.append({
        'artista': i,
        'similares': similares
    })
    contador += 1

NameError: name 'lista' is not defined

In [ ]:
df = pd.DataFrame(resultados_nombres)
df.to_csv('similar_jazz.csv', index=False)

In [ ]:
df

Empty DataFrame
Columns: []
Index: []